@using EAgenda.WebApp.Models;
@model EditarCategoriaViewModel;

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Edição de Categoria";
}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card shadow-sm">
                <div class="card-body p-4">

                    <h2 class="card-title text-center mb-4">CONTATOS</h2>

                    <form asp-action="Editar" asp-route-id="@Model.Id">
                        <h3>Formulário de Edição</h3>

                        @if (ViewData.ModelState["CadastroUnico"]?.Errors.Count > 0)
                        {
                            <div class="alert alert-danger alert-dismissible fade show my-3" action="alert">
                                @ViewData.ModelState["CadastroUnico"]!.Errors.First().ErrorMessage
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label asp-for="Titulo" class="form-label">Titulo *</label>
                                    <input asp-for="Titulo" class="form-control" />
                                    <span asp-validation-for="Titulo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="mt-4 d-flex justify-content-end gap-2">
                            <a href="/categorias" class="btn btn-outline-secondary">Visualizar</a>
                            <button type="submit" class="btn btn-primary">Editar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}