@model CadastrarDespesaViewModel

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Cadastro de Despesa";
}

<hr />
<div class="row justify-content-center my-5">
    <div class="col-md-8">
        <div class="card rounded-4 border-0">
            <div class="card-body p-md-5">
                <form asp-action="Cadastrar">
                    <h2 class="card-title text-center mb-4">DESPESA</h2>

                    @if (ViewData.ModelState["CadastroUnico"]?.Errors.Count > 0)
                    {
                        <div class="alert alert-danger alert-dismissible fade show my-3" role="alert">
                            @ViewData.ModelState["CadastroUnico"]!.Errors.First().ErrorMessage
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }

                    <div class="form-group d-grid gap-2 mt-3">
                        <label asp-for="Descricao" class="control-label fs-5">Descrição:</label>
                        <input asp-for="Descricao" class="form-control" />
                        <span asp-validation-for="Descricao" class="text-danger"></span>
                    </div>
                    <div class="form-group d-grid gap-2 mt-3">
                        <label asp-for="DataOcorrencia" class="control-label fs-5">Data de ocorrência:</label>
                        <input asp-for="DataOcorrencia" type="date" class="form-control" />
                        <span asp-validation-for="DataOcorrencia" class="text-danger"></span>
                    </div>
                    <div class="form-group d-grid gap-2 mt-3">
                        <label asp-for="Valor" class="control-label fs-5">Valor:</label>
                        <input asp-for="Valor" class="form-control" />
                        <span asp-validation-for="Valor" class="text-danger" type="number" step="0.01"></span>
                    </div>
                    <div class="form-group d-grid gap-2 mt-3">
                        <label asp-for="FormaPagamento" class="control-label fs-5">Forma de pagamento:</label>
                        <select class="form-select" asp-for="FormaPagamento" aria-label="Selecionar pagamento">
                            <option selected></option>
                            <option value="À vista">À vista</option>
                            <option value="Crédito">Crédito</option>
                            <option value="Débito">Débito</option>
                        </select>
                    </div>
                    <div class="form-group d-grid gap-2 mt-3">
                        <label asp-for="Categorias" class="control-label fs-5">Categorias:</label>
                        <select class="form-select" asp-for="Categorias" asp-items="Model.CategoriasDisponiveis" multiple aria-label="Selecionar categorias">
                        </select>
                    </div>
                    <div class="form-group d-flex align-items-center justify-content-end gap-3 mt-5">
                        <a href="/despesas">Voltar para a listagem</a>
                        <button type="submit" class="btn btn-primary rounded-3 px-5">Confirmar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}