@using EAgenda.WebApp.Models;
@model CadastrarItensTarefaViewModel;

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Itens da tarefa";
}

<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-light">
            <h4>Tarefa: @Model.Tarefa.Titulo</h4>
        </div>
        <div class="card-body">

            <form asp-controller="ItensTarefa" asp-action="Cadastrar" method="post">
                <div class="flex-grow-1 me-3">
                    <label asp-for="Titulo" class="form-label fw-bold">Novo Item:</label>
                    <input asp-for="Titulo" class="form-control" placeholder="Digite o título do novo item" />
                </div>

                <div class="mt-4 d-flex justify-content-end gap-2">
                <a href="/ItensTarefa/PorTarefa/@Model.Id" class="btn btn-outline-secondary">Visualizar</a>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
            </form>
    </div>
</div>
</div>