@using EAgenda.WebApp.Models;
@model CadastrarTarefaViewModel;

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Cadastro de Tarefa";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card shadow-sm">
                <div class="card-body p-4">

                    <h2 class="card-title text-center mb-4">CONTATOS</h2>

                    <form asp-controller="Tarefa" asp-action="Cadastrar" method="post">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label asp-for="Titulo" class="form-label">Titulo *</label>
                                    <input asp-for="Titulo" class="form-control" />
                                    <span asp-validation-for="Titulo" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label asp-for="Prioridade" class="form-label">Prioridade *</label>
                                    <select class="form-select" asp-for="Prioridade" aria-label="Selecionar prioridade">
                                        <option selected></option>
                                        <option value="Baixa">Baixa</option>
                                        <option value="Normal">Normal</option>
                                        <option value="Alta">Alta</option>
                                    </select>
                                    <span asp-validation-for="Prioridade" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label asp-for="DataCriacao" class="form-label">Data Criação*</label>
                            <input asp-for="DataCriacao" type="date" class="form-control" />
                            <span asp-validation-for="DataCriacao" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="DataConclusao" class="form-label">Data Conclusão</label>
                            <input asp-for="DataConclusao" type="date" class="form-control" />
                            <span asp-validation-for="DataConclusao" class="text-danger"></span>
                        </div>
                        <div class="mt-4 d-flex justify-content-end gap-2">
                            <a href="/tarefas" class="btn btn-outline-secondary">Visualizar</a>
                            <button type="submit" class="btn btn-primary">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}